---
import * as CONTENT from "../pages/content";
import { Icon } from "astro-icon/components";
---

<!-- Hero section -->
<header class="mx-auto py-8">
  <article
    class="grid md:grid-cols-3 grid-cols-1 md:grid-rows-1 place-items-center w-[98vw] max-w-2xl"
  >
    <div
      class="rounded-full border-primary self-end shadow-2xl md:w-24 w-20 aspect-square"
    >
      <a href="/">
        <img
          src="/profile.webp"
          alt="profile_picture"
          class="object-cover w-full h-full rounded-full grayscale-[50] hover:grayscale-0"
        /></a
      >
    </div>

    <div class="grid text-center self-center whitespace-nowrap">
      <h1 class="md:text-3xl font-semibold text-text mt-5">
        <a href="/">{CONTENT.name}</a>
      </h1>
      <div class="flex flex-row gap-2 justify-center items-center">
        <h3 class="md:text-lg text-sm text-text/75">{CONTENT.designation}</h3>
        <Icon name="ri:code-s-slash-fill" class="h-5 w-5 text-[#EB631B]" />
      </div>
      <h5 class="text-sm text-text/65">{CONTENT.location}</h5>
    </div>

    <div class="md:grid text-right md:self-start self-center md:mt-9 mt-5">
      <!-- <h6 class="text-sm text-text/70">{CONTENT.pronouns}</h6> -->
      <div class="relative">
        <span
          class="absolute top-0 right-0 transform translate-x-[25%] -translate-y-1/3"
        >
          <span
            class="animate-ping absolute inline-flex h-3 w-3 top-[0.45rem] rounded-full bg-green-500 opacity-75"
          ></span>
          <span class="relative inline-flex rounded-full h-3 w-3 bg-green-500"
          ></span>
        </span>

        <h6
          class="text-sm font-bold group inline-block rounded-full bg-gradient-to-r from-[#833ab4] via-[#fd1d1d] to-[#fcb045] p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75"
        >
          <a
            class="block rounded-full bg-background p-2 text-sm font-medium group-hover:bg-transparent"
            href={CONTENT.resume}>{CONTENT.availability}</a
          >
        </h6>
      </div>
    </div>
  </article>
</header>
